.info {
  display: flex;
  max-width: 770px;
  margin-left: 30px;

  justify-content: space-between;

  @media only screen and (max-width: 1630px) {
    margin-right: 30px;
  }

  &__block {
    width: 176px;
    height: 159px;

    border-radius: 4px;
    border: 1px solid #e6eaee;
    background-color: #ffffff;

    transition: transform 500ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__numbers {
    padding-bottom: 25px;
  }

  &__procent {
    display: flex;
    height: 42px;
    padding-top: 18px;
    padding-left: 37px;

    background-color: #f5f8fa;

    @media only screen and (max-width: 1600px) {
      padding-left: 15px;
      margin-top: 10px;
    }
  }

  &__number {
    padding-top: 33px;
    padding-bottom: 18px;

    text-align: center;
    color: #354052;
    font-family: "Source Sans Pro";
    font-size: 30px;

    @media only screen and (max-width: 1600px) {
      font-size: 20px;
    }
  }

  &__title {
    height: 8px;

    text-align: center;
    color: #4695d9;
    font-family: "Source Sans Pro - Semibold";
    font-size: 12px;

    @media only screen and (max-width: 1600px) {
      font-size: 10px;
    }
  }

  &__arrow {
    width: 13px;
    height: 13px;
  }

  &__count {
    padding-left: 13px;
    
    color: #354052;
    font-family: "Source Sans Pro";
    font-size: 12px;

    @media only screen and (max-width: 1600px) {
      font-size: 10px;
    }
  }
}